.form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  & > button {
    margin-top: 50px;
    max-width: 80px;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > button {
    max-width: 75px;
  }
}
